/* Typography */
h1#title {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	font-size: 3.2em;
	color: black;
	text-shadow: 0 0 10px rgba(0,0,0,0.8);
	margin: 0 auto;
	padding-top: 90px;
	max-width: 300px;
	text-align: center;
	position: relative;
	margin-top: 5%;
}

h1#title span span {
	font-weight: 400;
}

h2 {
	text-transform: uppercase;
	color: white;
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 1.4em;
	line-height: 2.8em;
}

a {
	text-decoration: none;
	color: #666;
}

a:hover {
	color: #aeaeae;
}

p.small {
	font-size: 0.8em;
	margin: 20px 0 0;
}


/* Layout */
.container {
	margin: 0;
}

.top {
	margin: 0;
	padding: 0;
	width: 100%;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.login-box {
	background-color: white;
	max-width: 30%;
	margin: 0 auto;
	position: relative;
	margin-top: 5%;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.user-info {
	background-color: white;
	position: relative;
	margin-top: 1%;
	padding-bottom: 30px;
	padding-left: 3%;
	padding-right: 3%;
	height: 350px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}

.user-info label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.feed-info {
	background-color: white;
	position: relative;
	margin-top: 1%;
	padding-bottom: 30px;
	padding-left: 3%;
	padding-right: 3%;
	height: 350px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
}

.feed-info label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.feed-info input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.feed-info input:focus {
	outline: none;
	border-color: #00bcd4;
	transition: 0.5s;
	color: #00bcd4;
}

.feed-info textarea {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.feed-info textarea:focus {
	outline: none;
	border-color: #00bcd4;
	transition: 0.5s;
	color: #00bcd4;
}

.feed-info button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #00bcd4;
	cursor:pointer;
	outline: none;
}

.feed-info button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.feed-info button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box .box-header {
	background-color: #00bcd4;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.login-box input:focus {
	outline: none;
	border-color: #00bcd4;
	transition: 0.5s;
	color: #00bcd4;
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #00bcd4;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}